{% extends "core/Admin/admin_dashboard.html" %}

{% block content %}
<div class="flex items-center justify-center min-h-full bg-slate-100 p-6">
    <div class="bg-white rounded-lg shadow-xl w-full max-w-2xl overflow-hidden border border-slate-200">
        <div class="bg-slate-50 border-b border-slate-200 py-4 text-center">
            <h2 class="text-xl font-black uppercase tracking-widest text-slate-800">Service Log</h2>
        </div>

        <form method="POST" class="p-8 space-y-6">
            {% csrf_token %}
            
            <div class="text-[11px] font-bold text-slate-500 space-y-1 italic">
                <p class="text-slate-600 font-black">Technician:  <span class="text-gray-500 font-bold">{{ request.user.username }}</span></p>
                <p class="text-slate-800 font-Black">Date / Time: <span class="text-gray-500 font-bold">{% now "d-m-Y | H:i" %}</span></p>
            </div>

            <div class="space-y-4">
                <div class="grid grid-cols-3 items-center">
                    <label class="text-sm font-bold text-slate-700">Assets ID:</label>
                    <div class="col-span-2">{{ form.asset }}</div>
                </div>

            <div class="grid grid-cols-3 items-center">
                <label class="text-sm font-bold text-slate-700">Maintenance Type:</label>
                <div class="col-span-2">{{ form.maintenance_type }}</div>
            </div>

            <div class="grid grid-cols-3 items-center">
                <label class="text-sm font-bold text-slate-700">Status:</label>
                <div class="col-span-2">{{ form.status }}</div>
            </div>

                <div class="space-y-2">
                    <label class="text-sm font-bold text-slate-700">Description</label>
                    {{ form.notes }}
                </div>
            </div>

            <div class="pt-4">
                <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 rounded-lg transition shadow-lg shadow-blue-200">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}